.home__container {
  display: flex;
  justify-content: center;
  margin: 0 5px;
  max-width: 1500px;
  max-height: 350px;
}

.home__container > .jss1 {
  width: 100% !important;
}
.home__row {
  display: flex;
  z-index: 1;
  margin: 0 5px;
}

.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
  /*to give that blur effect*/
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.Carousel-root-1 {
  width: 100%;
  height: 478px;
}

.home__heading {
  flex-direction: column;
  margin: 10px;
  padding: 20px;
  width: 98%;
  background-color: white;
}

.home__dealSection {
  height: 250px;
  padding: 20px;
  margin: 10px;
  max-height: 350px;
  display: flex;
  justify-content: space-between;
}

.home__card {
  position: relative;
  height: 272px;
  width: fit-content;
  padding: 4px;
  width: 300px;
}

.home__card > img {
  max-height: 267px;
  margin: 0 10px;
  object-fit: contain;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.home__dealBtn {
  opacity: 0;
  width: 100px;
  position: absolute;
  outline: none;
  margin-top: 10px;
  top: 75%;
  left: 35%;
  height: 35px;
  border-radius: 99px;
  border: none;
  border: solid 2px white;
  background: rgba(255, 255, 255, 0);
  transition: opacity 0.35s ease;
  text-align: center;
  color: white;
  font-size: 16px;
}

.home__dealBtn:hover {
  display: block;
  cursor: pointer;
  transform: scale(1.1);
  background: black;
  color: white;
  z-index: 1;
}

/* home card hover show overlay and button */
.home__card:hover .home__dealBtn {
  opacity: 1;
}
.home__card:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}

.home__backdropDetail {
  display: flex;
  width: 600px;
}

.home__backdropDetailImg {
  height: 400px !important;
  flex: 1;
}

.home__backdropDetail > .product {
  flex: 0.4 1;
  height: 360px;
  margin: 0;
}

.home__backdropDetail > .product > .product__info {
  height: fit-content !important;
}

@media only screen and (max-width: 600px) {
  .home__row {
    display: block;
  }
  .home__dealSection {
    display: block;
    height: fit-content;
    max-height: fit-content;
  }
}
